h1 {
    color: green;
    font-style: italic;
}

li {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
  }
.contact {
    color: rgb(14, 139, 66);
    padding-top: 5px;
    font-size: 15px;
}
.goodError {
    color: black;
    background: rgb(61, 189, 23);
    font-size: 20px;
    border-style: dotted solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
.badError {
    color: black;
    background: red;
    font-size: 20px;
    border-style: dotted solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}